.game__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game__item {
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}